.add-profile {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-profile-form {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  padding: 30px 50px;
  margin: 40px 10px;
  border-radius: 10px;
  text-align: center;
}

.select-platform {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
  border-radius: 10px;
  border: none;
  background-color: #333;
  color: #fff;
}

.select-platform:hover {
  cursor: pointer;
}

.select-heading {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-username {
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #ccc;
  font-size: 1em;
}

.input-username:hover {
  border: 1px solid gray;
}

.input-username:focus {
  border: 1px solid var(--color2);
}

.create-btn {
  border: none;
  padding: 12px 24px;
  font-size: 1em;
  background-color: var(--color2);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
}

.create-btn:hover {
  background-color: var(--color3);
  box-shadow: 2px 2px 10px 2px #ccc;
}

@media only screen and (max-width: 767px) {
}
