.user-authentication {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(4, 1fr);
  min-height: 100vh;
  background-color: var(--color1);
}

.form-logo {
  height: 100px;
  width: 100px;
}

.form {
  display: none;
  padding: 10px 10px;
}

.form.is-active {
  display: block;
  text-align: center;
}

.form.form.is-active h1 {
  margin-bottom: 10px;
}

.form-input {
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #ccc;
  font-size: 1em;
}

.form-input:hover {
  background-color: #fff;
}

.form-input:focus {
  background-color: #fff;
  border: 1px solid #ccc;
}

.name {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.form-submit {
  width: 100%;
  padding: 10px;
  background-color: var(--color2);
  font-size: 1em;
  color: var(--color1);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.form-submit:hover {
  background-color: var(--color3);
  cursor: pointer;
  box-shadow: 2px 2px 10px 2px #ccc;
}

.form-switcher {
  margin-top: 8px;
  border: none;
  color: #333;
  background: none;
  padding: 10px 10px;
  font-size: 1em;
}

.form-switcher:hover {
  cursor: pointer;
  color: #000;
}

.link-about-us {
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}

.link-about-us:hover {
  color: #000;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
}
