.user-authentication {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(4, 1fr);
  min-height: 100vh;
  background-color: var(--background-color);
}

/*form header*/
.form-logo {
  height: 100px;
  width: 100px;
}

/*login and registration forms*/
.form {
  display: none;
  padding: 10px 10px;
}

.form.is-active {
  display: block;
  text-align: center;
}

.form.form.is-active h1 {
  margin-bottom: 10px;
}

.form-input {
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #ccc;
  font-size: 1em;
}

.form-input:focus {
  background-color: #fff;
  border: 1px solid #ccc;
}

.form-submit {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  font-size: 1em;
  color: #f0f0f0;
  border: none;
  border-radius: 5px;
}

.form-submit:hover {
  background-color: #0056b3;
  cursor: pointer;
}

/*switcher*/
.form-switcher {
  margin-top: 8px;
  border: none;
  color: #333;
  background: none;
}

.form-switcher:hover {
  cursor: pointer;
  color: black;
}
