.about-us {
  min-height: 80vh;
}

.about-us-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.about-us-header img {
  height: 50px;
  width: 50px;
  margin: 10px 10px;
}

.welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 20px;
  font-size: 1.2em;
}

.join-section {
  margin-top: 30px;
  padding: 20px 20px;
  text-align: center;
}
