.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color2);
  color: var(--color1);
  text-decoration: none;
}

.header-logo {
  display: flex;
  align-items: center;
  text-align: center;
}

.header-icon {
  height: 80px;
  width: 80px;
  padding: 10px 10px;
}

.header-logo h1 {
  color: #fff;
}

.header-menu-link {
  text-decoration: none;
  color: #fff;
}

.header-menu-link:hover {
  color: var(--color1);
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
}

.header-menu li {
  font-size: 1.2em;
  padding: 10px 10px;
  margin: 10px 10px;
  color: #fff;
}

.header-menu li:hover {
  color: var(--color1);
}

.profile-icon {
  font-size: 1.2em;
  padding: 10px 15px;
  background-color: var(--color3);
  border-radius: 50%;
  margin: 10px 30px;
  color: #fff;
  border: none;
}

.profile-icon:hover {
  background-color: var(--color1);
  color: var(--color3);
  cursor: pointer;
}

.header-profile-menu {
  background-color: var(--color1);
  visibility: hidden;
  opacity: 0;
  transform: translateX(-40%);
  position: absolute;
  top: 80px;
  right: 0%;
  border-radius: 5px 5px;
  list-style-type: none;
}

.header-profile-menu.show {
  opacity: 1;
  visibility: visible;
}

.header-profile-menu li {
  margin: 10px;
  padding: 10px;
  font-size: 1.1em;
  color: #555;
  border-bottom: 1px solid var(--color1);
}

.header-profile-menu li:hover {
  font-weight: bold;
}

.logout-btn {
  background-color: #ccc;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.logout-btn:hover {
  background-color: red;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 2px 10px 2px #ccc;
  color: white;
}

@media only screen and (max-width: 767px) {
  .header-menu li:nth-child(1) {
    display: none;
  }

  .header-icon {
    height: 60px;
    width: 60px;
    padding: 10px 10px;
  }

  .header-logo h1 {
    font-size: 1.8em;
  }

  .profile-icon {
    margin-right: 20px 20px;
  }
}
